.ft{
    background: #000;
    margin-top: 25px;
    color: aliceblue;
}

.ft div{
    padding-left: 20px;
}

.ft div p{
    font-size: 12px;
}

.logo{
    width: 40px;
}

.cabecera{
    padding-top: 150px;
    height: 500px;
    background:url(img/pastel.jpg);
    background-size: cover;
}